<?xml version="1.0"?>
<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
<configuration>
	<connectionStrings>
		<add name="ConStr" connectionString="Data Source=SQL1001.site4now.net;Initial Catalog=db_aba123_vuductuananh;User Id=db_aba123_vuductuananh_admin;Password=Tuananhcoc200396" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
</configuration>